/* header */
.header {
    width: 100%;
}

h1  {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

.header {
    width: 100%;
    height: 200px;
}
/* body */
p   {
    text-align: center;
    font-size: 32px;
}

body   {
    background-image: url('../images/btcChart.png');
    

}

h2  {
    text-align: center;
}

h3  {
    text-align: center;
}
/* crystals */
.stats  {
    float: right;
}

.btc0 {
    height: 124px;
    width: 124px;
}

.btc1 {
    height: 124px;
    width: 124px;
}

.btc2 {
    height: 124px;
    width: 124px;
}

.btc3 {
    height: 124px;
    width: 124px;
}
